@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:wght@400;600&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
}

.animais{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.animal{
    cursor: pointer;
    width: 20%;
    height: 15%;
    box-shadow: 0px 10px 40px -12px #916db2;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.navbar {
    background-color: #916db2;
    overflow: hidden;
}

.nav-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #555;
}

.animal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    gap: 10px; 
}

.card {
    width: 18%; /* Ajuste a largura conforme necessário */
    margin: 10px; /* Ajuste a margem conforme necessário */
    border: 1px solid #ccc; /* Adicione uma borda para melhor visualização */
    box-sizing: border-box;
}